inst/doc
.Rproj.user
.Rhistory
.RData
/revdep/.cache.rds
doc
Meta
/doc/
/Meta/
*.code-workspace
tests/testthat/_problems/
dev/
README_cache/
vignettes/*_cache/
vignettes/*_files/
vignettes/*.html
*Case Conflict*
.revdeplite/results
.revdeplite/github
.revdeplite/*.rds
.revdeplite/*.tar.gz
.revdeplite/*.md
